doctype html
html(lang="es")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title
  body
    p Hola Mundo
    p adios mundo
    p hola again 
    p fuck you 
    p meee? no
    p so now this shit is working? wtf 
    p now?
html
